.header {
  padding-inline: var(--layoutPadding);
  height: var(--headerHeight);
  position: sticky;
  top: 0;
  background-color: var(--backgroundBody);
  @include spaceBeetwen;
}

.navbar {
  @include alignCenter;
  gap: 2em;
}

.navLinks {
  display: none;


  @include tablet {
    @include alignCenter;
  }

  @include portatil {
    gap: 2em;
  }
}

.menu {
  color: var(--colorTitle);
  padding: .5em .5em;

  @include tablet {
    display: none;
  }
}