.title {
  font-size: 2.4em;
  margin-block: 1em;
}

.products {
  display: grid;
  justify-items: center;
  column-gap: 1em;
  row-gap: 2em;

  @include tablet {
    grid-template-columns: 1fr 1fr;
  }

  @include portatil {
    grid-template-columns: 1fr 1fr 1fr;
  }
}