.distinctions {
  display: grid;
  gap: 2.5em;
}

.head {
  @include tablet {
    max-width: 80%;
    margin: auto;
  }
}

.title {
  text-align: center;
  font-size: 2.4em;
}

.text {
  text-align: center;
  margin: auto;
}

.cards {
  display: grid;
  gap: 2em;
  justify-items: center;

  @include tablet {
    grid-template-columns: 1fr 1fr;
  }

  @include portatil {
    grid-template-columns: 1fr 1fr 1fr;
  }
}